/* CSS Reset */
html {
  padding: 0;
  text-align: left;
}

html {
  text-rendering: optimizeLegibility;
  font-size: 14pt;
  margin: auto;
  max-width: 950px;
  background-color:#fffdf8;
   
}

/* HTML5 tag defaults. */
header, footer, aside, nav, article 
{ 
  display: block;
  margin: auto;
}

blockquote {
    border-left: 2px solid #999;
    padding-left: 1em;
  }

h1, h2, h3, h4, h5 { 
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: larger;
}

h2 {
  font-size: large;
}
h2.entry-title {
  font-size: large;
}
.subtitle
{
  font-style: italic;
  font-size: smaller;
}

body {
  font-family: Palatino, serif;
  font-size: 14pt;
  max-width: 40em;
  margin: 0 auto;
  line-height:1.4;
  text-align: left;
  color: #1a1a1a;
}

/* Use a thin border around all images. */
img 
{
  border: 1px solid;
  max-width: 40em;
}

/* Navigation bar. */
nav 
{
  font-family: "Verdana"; 
  font-size: 2rem;
}

nav ul 
{
  font-family: "Verdana"; 
  padding: 0;
  margin-left: 0;
  list-style: none;
  margin: auto;
}

nav ul li 
{
  display: inline-block;
  margin-right: 1em; 
  margin-top: .2em;
}

nav ul li a 
{
  display: block;
  margin: 0;
}

nav a:hover
{
  text-decoration: none;
}
nav a:visited
{
  color: #26f;
}
table 
{
  border-style: solid;
  border-collapse: collapse; 
  border-width: thin;
  font-size: 100%;
}

th, td 
{
  border-style: solid;
  border-width: thin;
}

a:link
{
  color: #26f;
  text-decoration: none;
}

a:visited
{
  color: #21c; 
  text-decoration: none;
}

a:hover, a:active
{
  text-decoration: underline;
}

hr
{
  border: none;
  color: #000;
  height: 3px;
  background-color: #000;
}
